body {
    height: 100vh;
    background: #222;
    display: flex;
    flex-wrap: wrap;
}

#left-nav {
    background: #051e34;
    height: calc(100% - 60px);
    width: 9rem;
}

header {
    width: 100%;
    height: 60px;
    background: #f8f9fa;
}

main {
    height: calc(100% - 60px);
    width: calc(100% - 9rem);
    background: #e5e5e5;
    overflow-y: auto;
}

/* COLORI DI SFONDO */

.bgLightgrey {background-color: #e5e5e5;}