body {
    height: 100vh;
    background: #222;
    display: flex;
    flex-wrap: wrap;
}

#left-nav {
    background: #051e34;
    height: calc(100% - 60px);
    width: 9rem;
}

header {
    width: 100%;
    height: 60px;
    background: white;
}

main {
    height: calc(100% - 60px);
    width: calc(100% - 9rem);
    background: #e5e5e5;
    overflow-y: auto;
}

/* COLORI DI SFONDO */

.bgLightgrey {background-color: #e5e5e5;}
.bgBlue {background-color: #165bba;}

/* COLLASSO NAVBAR LATERALE */

@media screen and (max-width: 768px) {
    #left-nav {
        width: 4.5rem;
    }
    main {
        width: calc(100% - 4.5rem);
    }    
}

#left-nav {
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

/* CARDS */

.avatar {
    width: 1.5rem;
}

/* DROPSDOWN */

@media screen and (max-width: 768px){
    #offcanvasWithBothOptions {
        width: 100%;
    }
    
}

@media screen and (min-width: 992px){
    #offcanvasWithBothOptions {
        width: 50%;
    }
    
}